<form action="/add_update" method = "post">
  <div>
    <label for="task1">How long did you exercise today (minutes)?</label>
    <input id="task1" type="text" name="task1_param">
  </div>

  <div>
    <label for="task2">How long did you Read today (minutes)?</label>
    <input id="task2" type="text" name="task2_param">
  </div>

    <div>
    <label for="motivation_entry">What about today motivated you?</label>
    <input id="motivation_entry" type="text" name="motivation_param">
  </div>
  <button> Submit </button>
</form>
 