<body>
    <div class="header-ribbon">
      <div class="header-logo">HabitByBit</div>
      <div class="header-log">SETUP</div>
    </div>
      <form class="setup-form" action="/setup" method="post">
      <div class="form-group">
        <label for="habit1">Habit 1: Which habit do you want to track? Write that as a question such that the answer is a number</label>
        <input id="habit1" type="text" name="habit1_param" placeholder="Enter a question">
      </div>
      <div class="form-group">
        <label for="habit2">Habit 2: Which habit do you want to track? Write that as a question such that the answer is a number</label>
        <input id="habit2" type="text" name="habit2_param" placeholder="Enter a question">
      </div>
        <button type="submit" class="submit-btn">Setup my Habits</button>
    </form>
</body>
